/**
	COMPONENT -- TAG CLOUD
**/

.widget_tag_cloud {
	text-align: center;
	a {
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		background: rgba(0, 0, 0, 0.07);
		border-radius: 2px;
		color: #141515;
		padding: 5px 10px;
		line-height: 1;
		margin: 2px 0;
	}
}