/**
	LAYOUT -- BASE
**/

html, body {height:100%}
body {
	// footer always at bottom
	display:flex;
	flex-direction:column;
	.site-content {flex:1}
}

.error-404 {padding:15vh 0 20vh}


/* page head */
.page-head {
	color:white;
	text-shadow:0 0 15px rgba(0,0,0,.3);
	text-align:center;
	background-image:url('images/bg-contact.jpg');
	background-position:center;
	background-size:cover;
	position:relative;
	padding-top:40px;
	padding-bottom:40px;

	>.background-overlay,
	>.elementor-background-overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: #000000;
    	opacity: 0.1;
	}
	
	.elementor-container,
	.container {
		min-height:28vh;
		display:flex;
		flex-direction:column;
		justify-content:center;
		position: relative;
	}
	.elementor-heading-title,
	.entry-title {
		color:inherit;
	}

	@include media-breakpoint-up(sm){
		padding-top:80px;
		padding-bottom:80px;
	}
}