/**
	LAYOUT -- POST
**/

/* Entry (Posts,Pages) Block */

body.single-post {
	.post-wrapper {padding:80px 40px 40px}
}

.post {
	.entry-title {
		text-transform: none;
	}
}

.hentry {
	.entry-title {
		margin-bottom: 28px;
	}
	.entry-meta {
		margin-bottom: 30px;
		@include rem-units(font-size,14);
	}
	
	/* Entry Content */
	.entry-content {
		@include rem-units(font-size,18);
		line-height:1.5;
	}

	.entry-meta-footer {margin:60px 0 40px}
}


.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
