/**
  ELEMENT -- BUTTONS
**/
button,.btn {
	@include button($color-secondary, white, $color-secondary);
}
.btn-wire {
	@include button(transparent, $color-primary, $color-primary);
	
	&.white {
		border-color:#fff;
		color:#fff;
	}
}

.btn-icon {
	padding: 0;
	width: 60px;
	height: 60px;
	line-height:58px;

	span,
	&:before {
		font-size: 2em;
		line-height: inherit;
		display: block;
	}
}

.button-container {
	text-align: center;
	margin-top: 50px;
}