/**
	ELEMENT -- ENTRY META
**/

.entry-meta {
	color: $color-text-light;
	@include rem-units(font-size,13);
	
	> span {
		display: inline-block;
		margin: 0 15px 0 0;
	}
	a {color:inherit}
	
	.posted-on:before,
	.post-edit-link-meta a:before,
	.categories:before,
	.tags-links:before {
		@include icon-styles;
		color: $color-primary;
		margin-right: 5px;
	}

	.post-edit-link-meta a:before {
		content: unicode($icom-edit);
	}
	.posted-on:before {
		content: unicode($icom-clock);
	}
	.categories:before {
		content: unicode($icom-navigation);
	}
	.tags-links:before {
		content: unicode($icom-tag);
	}
}

.updated:not(.published) {
    display: none;
}




/* Category and Tags */
.cat-links-single:after,
.logged-in .tags-links-single:after {
	content: "\2022";
	font-size: 12px;
	font-size: 0.75rem;
	margin: 0 0 0 7px;
	margin: 0 0 0 0.4375rem;
}