/**
  ELEMENT -- ICONS
**/
[class^="icom-"], [class*=" icom-"] {
	@include icon-styles;
}



.icom-activity {
  &:before {
    content: unicode($icom-activity); 
  }
}
.icom-alert-triangle {
  &:before {
    content: unicode($icom-alert-triangle); 
  }
}
.icom-arrow-down-circle {
  &:before {
    content: unicode($icom-arrow-down-circle); 
  }
}
.icom-arrow-left-circle {
  &:before {
    content: unicode($icom-arrow-left-circle); 
  }
}
.icom-arrow-right-circle {
  &:before {
    content: unicode($icom-arrow-right-circle); 
  }
}
.icom-arrow-up-circle {
  &:before {
    content: unicode($icom-arrow-up-circle); 
  }
}
.icom-at-sign {
  &:before {
    content: unicode($icom-at-sign); 
  }
}
.icom-award {
  &:before {
    content: unicode($icom-award); 
  }
}
.icom-battery-charging {
  &:before {
    content: unicode($icom-battery-charging); 
  }
}
.icom-bell {
  &:before {
    content: unicode($icom-bell); 
  }
}
.icom-calendar {
  &:before {
    content: unicode($icom-calendar); 
  }
}
.icom-camera {
  &:before {
    content: unicode($icom-camera); 
  }
}
.icom-check {
  &:before {
    content: unicode($icom-check); 
  }
}
.icom-check-square {
  &:before {
    content: unicode($icom-check-square); 
  }
}
.icom-chevron-down {
  &:before {
    content: unicode($icom-chevron-down); 
  }
}
.icom-chevron-left {
  &:before {
    content: unicode($icom-chevron-left); 
  }
}
.icom-chevron-right {
  &:before {
    content: unicode($icom-chevron-right); 
  }
}
.icom-chevron-up {
  &:before {
    content: unicode($icom-chevron-up); 
  }
}
.icom-clipboard {
  &:before {
    content: unicode($icom-clipboard); 
  }
}
.icom-clock {
  &:before {
    content: unicode($icom-clock); 
  }
}
.icom-compass {
  &:before {
    content: unicode($icom-compass); 
  }
}
.icom-droplet {
  &:before {
    content: unicode($icom-droplet); 
  }
}
.icom-edit {
  &:before {
    content: unicode($icom-edit); 
  }
}
.icom-eye {
  &:before {
    content: unicode($icom-eye); 
  }
}
.icom-facebook {
  &:before {
    content: unicode($icom-facebook); 
  }
}
.icom-flag {
  &:before {
    content: unicode($icom-flag); 
  }
}
.icom-hash {
  &:before {
    content: unicode($icom-hash); 
  }
}
.icom-heart {
  &:before {
    content: unicode($icom-heart); 
  }
}
.icom-help-circle {
  &:before {
    content: unicode($icom-help-circle); 
  }
}
.icom-home {
  &:before {
    content: unicode($icom-home); 
  }
}
.icom-image {
  &:before {
    content: unicode($icom-image); 
  }
}
.icom-info {
  &:before {
    content: unicode($icom-info); 
  }
}
.icom-instagram {
  &:before {
    content: unicode($icom-instagram); 
  }
}
.icom-linkedin {
  &:before {
    content: unicode($icom-linkedin); 
  }
}
.icom-mail {
  &:before {
    content: unicode($icom-mail); 
  }
}
.icom-map {
  &:before {
    content: unicode($icom-map); 
  }
}
.icom-map-pin {
  &:before {
    content: unicode($icom-map-pin); 
  }
}
.icom-menu {
  &:before {
    content: unicode($icom-menu); 
  }
}
.icom-message-square {
  &:before {
    content: unicode($icom-message-square); 
  }
}
.icom-minus {
  &:before {
    content: unicode($icom-minus); 
  }
}
.icom-minus-circle {
  &:before {
    content: unicode($icom-minus-circle); 
  }
}
.icom-moon {
  &:before {
    content: unicode($icom-moon); 
  }
}
.icom-music {
  &:before {
    content: unicode($icom-music); 
  }
}
.icom-navigation {
  &:before {
    content: unicode($icom-navigation); 
  }
}
.icom-navigation-2 {
  &:before {
    content: unicode($icom-navigation-2); 
  }
}
.icom-phone {
  &:before {
    content: unicode($icom-phone); 
  }
}
.icom-play {
  &:before {
    content: unicode($icom-play); 
  }
}
.icom-play-circle {
  &:before {
    content: unicode($icom-play-circle); 
  }
}
.icom-plus {
  &:before {
    content: unicode($icom-plus); 
  }
}
.icom-plus-circle {
  &:before {
    content: unicode($icom-plus-circle); 
  }
}
.icom-search {
  &:before {
    content: unicode($icom-search); 
  }
}
.icom-send {
  &:before {
    content: unicode($icom-send); 
  }
}
.icom-settings {
  &:before {
    content: unicode($icom-settings); 
  }
}
.icom-shield {
  &:before {
    content: unicode($icom-shield); 
  }
}
.icom-shopping-cart {
  &:before {
    content: unicode($icom-shopping-cart); 
  }
}
.icom-star {
  &:before {
    content: unicode($icom-star); 
  }
}
.icom-sun {
  &:before {
    content: unicode($icom-sun); 
  }
}
.icom-tag {
  &:before {
    content: unicode($icom-tag); 
  }
}
.icom-target {
  &:before {
    content: unicode($icom-target); 
  }
}
.icom-thermometer {
  &:before {
    content: unicode($icom-thermometer); 
  }
}
.icom-thumbs-up {
  &:before {
    content: unicode($icom-thumbs-up); 
  }
}
.icom-trending-down {
  &:before {
    content: unicode($icom-trending-down); 
  }
}
.icom-trending-up {
  &:before {
    content: unicode($icom-trending-up); 
  }
}
.icom-twitter {
  &:before {
    content: unicode($icom-twitter); 
  }
}
.icom-user {
  &:before {
    content: unicode($icom-user); 
  }
}
.icom-users {
  &:before {
    content: unicode($icom-users); 
  }
}
.icom-video {
  &:before {
    content: unicode($icom-video); 
  }
}
.icom-watch {
  &:before {
    content: unicode($icom-watch); 
  }
}
.icom-wind {
  &:before {
    content: unicode($icom-wind); 
  }
}
.icom-x {
  &:before {
    content: unicode($icom-x); 
  }
}
.icom-zap {
  &:before {
    content: unicode($icom-zap); 
  }
}