/**
	ELEMENT -- WIDGET
**/
.widget {
	margin: 40px 0 60px;
	position: relative;
	@include rem-units(font-size,14);
	color:$color-gray;
	
	a {color:inherit;
		&:hover,
		&:active,
		&:focus {color:$color-secondary}
	}
	.widget-title {
		@include rem-units(font-size,18);
		font-weight: $font-weight-heavy;
		position: relative;
		margin-bottom: 40px;

		&:after {
			content:'';
			position:absolute;
			border-top:2px solid $color-primary;
			width:50px;
			bottom:-20px;
			left:0;
		}
	}
	ul,ol {
		@include ul-reset;
		li {margin:5px 0}
	}
}