//
//  General variables
//
$fonts-path: "fonts" !default;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,800,900');
@font-face {
	font-family: 'trekkeando-icons';
	src:
		url('#{$fonts-path}/trekkeando-icons.ttf?d96kfm') format('truetype'),
		url('#{$fonts-path}/trekkeando-icons.woff?d96kfm') format('woff'),
		url('#{$fonts-path}/trekkeando-icons.svg?d96kfm#trekkeando-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icons-font: 'trekkeando-icons' !default;
$font-base: 'Raleway',sans-serif !default;
$font-headlines: $font-base !default;
$font-size-base: 1rem !default;
$line-height-base: 1.27 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 300 !default;
$font-weight-medium: 600 !default;
$font-weight-bold: 800 !default;
$font-weight-heavy: 900 !default;

// Colors
$color-primary: #bc2324 !default;
$color-secondary: #141515 !default;
$color-gray: #606464 !default;
$color-gray-light: lighten($color-gray,40%) !default;
$color-light: #ededed !default;

$color-text: $color-secondary !default;
$color-text-light: $color-gray !default;
$body-bg: #ffffff !default;
$color-link: $color-primary !default;
$color-link-hover: darken($color-link,30%) !default;

$border-style: solid 1px $color-light !default;

// Responsive Breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;
$uncollapsed-menu: lg !default;
$collapsed-menu: md !default;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
) !default;

// Grid columns
$grid-columns:     12 !default;
$gutter:           30px !default;

// navbar
$navbar-bg: $color-light !default;
$navbar-color: $color-text !default;

// icons
$icom-activity: \e900;
$icom-alert-triangle: \e901;
$icom-arrow-down-circle: \e924;
$icom-arrow-left-circle: \e925;
$icom-arrow-right-circle: \e926;
$icom-arrow-up-circle: \e927;
$icom-at-sign: \e928;
$icom-award: \e902;
$icom-battery-charging: \e929;
$icom-bell: \e92a;
$icom-calendar: \e920;
$icom-camera: \e921;
$icom-check: \e92b;
$icom-check-square: \e92c;
$icom-chevron-down: \e903;
$icom-chevron-left: \e904;
$icom-chevron-right: \e905;
$icom-chevron-up: \e906;
$icom-clipboard: \e92d;
$icom-clock: \e907;
$icom-compass: \e91c;
$icom-droplet: \e92e;
$icom-edit: \e908;
$icom-eye: \e92f;
$icom-facebook: \e909;
$icom-flag: \e930;
$icom-hash: \e90a;
$icom-heart: \e90b;
$icom-help-circle: \e90c;
$icom-home: \e90d;
$icom-image: \e90e;
$icom-info: \e931;
$icom-instagram: \e922;
$icom-linkedin: \e90f;
$icom-mail: \e910;
$icom-map: \e932;
$icom-map-pin: \e911;
$icom-menu: \e91d;
$icom-message-square: \e912;
$icom-minus: \e913;
$icom-minus-circle: \e914;
$icom-moon: \e933;
$icom-music: \e934;
$icom-navigation: \e915;
$icom-navigation-2: \e916;
$icom-phone: \e917;
$icom-play: \e918;
$icom-play-circle: \e919;
$icom-plus: \e91a;
$icom-plus-circle: \e91b;
$icom-search: \e923;
$icom-send: \e935;
$icom-settings: \e936;
$icom-shield: \e937;
$icom-shopping-cart: \e938;
$icom-star: \e939;
$icom-sun: \e93a;
$icom-tag: \e91e;
$icom-target: \e93b;
$icom-thermometer: \e93c;
$icom-thumbs-up: \e93d;
$icom-trending-down: \e93e;
$icom-trending-up: \e93f;
$icom-twitter: \e940;
$icom-user: \e941;
$icom-users: \e942;
$icom-video: \e943;
$icom-watch: \e944;
$icom-wind: \e945;
$icom-x: \e91f;
$icom-zap: \e946;