$icomoon-font-path: "fonts" !default;

$icom-activity: "\e900";
$icom-alert-triangle: "\e901";
$icom-award: "\e902";
$icom-calendar: "\e920";
$icom-camera: "\e921";
$icom-chevron-down: "\e903";
$icom-chevron-left: "\e904";
$icom-chevron-right: "\e905";
$icom-chevron-up: "\e906";
$icom-clock: "\e907";
$icom-compass: "\e91c";
$icom-edit-3: "\e908";
$icom-facebook: "\e909";
$icom-hash: "\e90a";
$icom-heart: "\e90b";
$icom-help-circle: "\e90c";
$icom-home: "\e90d";
$icom-image: "\e90e";
$icom-instagram: "\e922";
$icom-linkedin: "\e90f";
$icom-mail: "\e910";
$icom-map-pin: "\e911";
$icom-menu: "\e91d";
$icom-message-square: "\e912";
$icom-minus: "\e913";
$icom-minus-circle: "\e914";
$icom-navigation: "\e915";
$icom-navigation-2: "\e916";
$icom-phone: "\e917";
$icom-play: "\e918";
$icom-play-circle: "\e919";
$icom-plus: "\e91a";
$icom-plus-circle: "\e91b";
$icom-search: "\e923";
$icom-tag: "\e91e";
$icom-x: "\e91f";

