
a {
	color:$color-primary;
	&:hover {
		color:$color-primary;
		text-decoration: underline;
	}
}
h2 {
	@include rem-units(font-size,22);
	margin-bottom: 1em;
}
ul {
	@include ul-style();
}
ol {
	padding:0;
	list-style:none;
	counter-reset: ordered-list;

	> li {
		position: relative;
		padding-left: 30px;
		margin-bottom: 10px;

		&:before {
			content: counter(ordered-list)'.';
			counter-increment: ordered-list;
			color:$color-primary;
			font-weight:$font-weight-medium;
			position:absolute;
			left:0;
			line-height: inherit;
		}
	}
}
blockquote {
	background:lighten($color-light,4%);
	padding:4% 7%;
	font-size:1.2em;
	quotes: "“" "”" "‘" "’";
	position:relative;

	&:before,
	&:after {
		position: absolute;
		font-size: 4em;
		opacity: 0.3;
		pointer-events:none;
	}
	&:before {
		content: open-quote;
		top: -0.15em;
		left: 1.2%;
	}
	&:after {
		content: close-quote;
		bottom: -0.65em;
		right: 3.5%;
	}

	p:last-child {margin-bottom: 0;}
}

p, 
ul, 
ol, 
blockquote {
	margin:0 0 $vertical-elements-spacing;
}

hr {
	background-color: $color-light;
	border: 0;
	height: 1px;
	margin: 0 auto 28px;
	width: 80%;
}

img {
	max-width:100%; 
	height:auto!important;

	&.alignright, 
	&.alignleft {
		max-width: 300px;
	}
	&.alignright {
		margin: 0 0 $vertical-elements-spacing 30px;
	}
	&.alignleft {
		margin: 0 30px $vertical-elements-spacing 0;
	}
}
/* Alignments */
.alignright {
	display: inline;
	float: right;
	margin: 0 0 $vertical-elements-spacing 15px;
}
.alignleft {
	display: inline;
	float: left;
	margin: 0 15px $vertical-elements-spacing 0;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}