/**
  BASE -- NAV
**/

.navbar-nav {
	@include ul-reset;

	> li {

		> a {
			display: inline-block;
			line-height: 40px;
			position:relative;

			&:after {
				content:'';
				position:absolute;
				border-top:2px solid $color-primary;
				left: 0;
				bottom: 0;
				width:0;
				transition:width .3s ease-out;
			}
		}

		&.current-menu-item a{
			opacity:1!important;
			color:$color-primary;
		}
	}
}
.toggle-menu {
	position:fixed;
	right:15px;
	bottom:15px;
	border: none;
	padding: 17px 13px;
	background:$navbar-color;
	border-radius:50%;
	
	.bar {
		display: block; 
		width:24px; 
		height:2px;
		background-color:$navbar-bg;

		+ .bar {margin-top: 5px;}
	}
}

@include media-breakpoint-up($uncollapsed-menu){
	.header-menu {
		display: inline-block;
		text-transform: uppercase;

		> li {
			display: inline-block;
			padding:0 12px;
			position: relative;

			> a {
				display: block;
				line-height: 45px;
				min-width:130px;

				&:after {left:0;}
			}
			&:hover > a:after {width:100%;}
		}
		.logo-spacer {
			width:246px;
			a {display: none;}
		}

		ul {
			@include ul-reset;
			position:absolute;
			right:12px;
			text-align: right;
			padding:2px 0;
			font-weight:$font-weight-medium;
			font-size:.88em;
			visibility: hidden;
    		opacity: 0;
    		transform:translate3d(0, 20px, 0);
    		transition:opacity .3s ease-out, transform .5s ease-out;

			a {
				color:white;
				display: inline-block;
				padding: 7px 9px 4px 25px;
				white-space: nowrap;
				position: relative;
				
				&:before,
				&:after {
					content: '';
					right: 0;
					height: 100%;
					position: absolute;
					background: white;
					top: 0;
					z-index: -1;
				}
				&:before {
					background:$color-secondary;
					width:100%
				}
				&:after {
					background:$color-light;
					width:0%;
					transition:width .2s ease-out;
					transform:skewX(-23deg);
					transform-origin:right top;
				}

				&:hover {
					color:$color-secondary;
					&:after {
						width:100%;
					}
				}
			}
		}

		>li:hover ul {
			visibility: visible;
    		opacity: 1;
    		transform:translate3d(0, 0, 0);
		}
	}
	.toggle-menu {display: none!important;}
}

@include media-breakpoint-down($collapsed-menu){
	.header-menu {
		position:fixed;
		background:$color-secondary;
		top:0;
		left:0;
		width:100%;
		height:100%;
		color:white;
		opacity:0;
		visibility:hidden;

	}
}